<html>
<head>
	<title>
        Dashboard
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    {%load static%}
    <link rel="stylesheet" type="text/css" href=" {% static '/css/assigned_task.css' %} " />
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h3>Dashboard</h3>
            <nav class="main-nav">
            <ul class="main-nav-ul">
                <!-- <li><a href="emp_dashboard"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="admin_profile"><i class="fas fa-user"></i>Profile</a></li>
                <li><a href="admin_add_project"><i class="fas fa-address-card"></i>Add Project</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>Employees<span class="sub-arrow"></span></a>
    
                    <ul>
                        <li><a href="emp_attendance_record"><i class="fas fa-clipboard"></i>Attendance Records</a></li>
                        <li><a href="show_emp"><i class="fas fa-users"></i>Show All Employee</a></li>
                    </ul>
                </li> -->
                <li><a href="admin_dashboard"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="admin_profile"><i class="fas fa-user"></i>Profile</a></li>
                <li><a href="admin_add_project"><i class="fas fa-plus"></i>Add Project</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>Employees<span class="sub-arrow"></span></a>
            
                    <ul>
                        <li><a href="admin_add_emp"><i class="fas fa-user-plus"></i>Add Employee</a></li>
                        <li><a href="attendance_record"><i class="fas fa-clipboard"></i>Attendance Records</a></li>
                        <li><a href="show_emp"><i class="fas fa-users"></i>Show All Employee</a></li>
                    </ul>
                </li>
      
                <li><a href="/"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
            </nav>
    </div>
    <div class="main_content">
        <div class="header">
            <h2>ASSIGNED PROJECT</h2>
        </div>
        <div style="margin: 10px;">
        <p >
        <!-- {% for j in file_data.items%}
        {% for i in j%}
            <h1>Project Title:{{i.0}}</h1>
            <br>
            <br>
            <b>Project Description: {{disc}}</b>
        {%endfor%}
        {%endfor%}    -->
        {%for k,v in Book.items%}
        {% if k == 'title'%}
        <h1>Project Title:{{v}}</h1>
        {%endif%}
        <br>
        {%if k == 'desc'%}
        <b>Project Description: {{v}}</b>
        {%endif%}
        {%endfor%}
        <br>
        <div>
        <form method = 'POST' >
            {% csrf_token %}
        <table style = "width: 100%">
            <tr class="bg-dark" style="color: white; font-size: 20px; ">
                <td>ID</td>
                <td>Emp_ID</td>
                <td>Name</td>
                <td>File Name</td>
                <td>Date</td>
            </tr>
        {%for k,v in file_fetch_data.items%}
                    <tr>
                    <td>{{v.0}}</td>   
                    <td>{{v.1}} {{v.2}}</td>
                    <td>{{v.2}}</td>
                    <td><input type="submit" value = "{{v.3}}" name = "file_name" style = "border: none;background-color:rgb(252, 252, 252);color:blue" ></td>
                    <td>{{v.4}}</td>
                <tr>
                {%endfor%}
        </table>
       </form>
    </div>
        <br>
        <table style = "width: 100%">
            <tr class="bg-dark" style="color: white; font-size: 20px;">
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone.No</td>
                <td>Department</td>
            </tr>
        {%for k,v in fetch_employee.items%}
                    <tr>
                    <td>{{v.0}}</td>   
                    <td>{{v.1}} {{v.2}}</td>
                    <td>{{v.3}}</td>
                    <td>{{v.4}}</td>
                    <td>{{v.6}}</td>
                <tr>
                {%endfor%}
        </table>


            <!-- <form class="up" method = "POST" enctype="multipart/form-data">
             {% csrf_token %}
            <center>
            <div class="input-group">
                <input type="file" name="file_location" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            </div><br><br>
            <input class="btn btn-outline-dark" type="submit" style="padding-left: 2%; padding-right: 2%;"></button>
            </center>
            </form> -->

                <table style = "width: 100%">
                <form method = 'POST'>
                    {% csrf_token %}
                    <tr class="bg-dark" style="color: white; font-size: 20px;">
                        <td>ID</td>
                        <td>Name</td>
                        <td>Email_id</td>
                        <td>Dept</td>
                        <td>Available</td>
                        <td>Select</td>
                    </tr>
                        {%for k,v in employees.items%}
                            <tr>
                            <td>{{v.0}}</td>   
                            <td>{{v.1}} {{v.2}}</td>
                            <td>{{v.3}}</td>
                            <td>{{v.6}}</td>
                            <td>-
                            </td>
                            <td><input name = values type = "checkbox" value = "{{v.0}}"></td>
                        <br>
                        </tr>
                            
                        {%endfor%}
                    </table>
                    <br>
                    <center>
                    <input type = "submit" value = "Add Employee">
                </center>
                </form>

        </p>
    </div>
</body>
</html>