<html>
<head>
	<title>
        Dashboard
    </title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href=" {% static '/css/dashboard2.css' %} " />
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h3>Dashboard</h3>
            <nav class="main-nav">
            <ul class="main-nav-ul">
                <li><a href="emp_dashboard"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="emp_profile"><i class="fas fa-user"></i>Profile</a></li>
                <!-- <li><a href="mark_attendance"><i class="fas fa-address-card"></i>Mark Attendance</a></li> -->
                <li><a href="#"><i class="fas fa-address-book"></i>Employees<span class="sub-arrow"></span></a>
    
                    <ul>
                        <!-- <li><a href="emp_attendance_record"><i class="fas fa-clipboard"></i>Attendance Records</a></li> -->
                        <li><a href="emp_show_emp"><i class="fas fa-users"></i>Show All Employee</a></li>
                    </ul>
                </li>
      
                <li><a href="/"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
            </nav>
    </div>
    <div class="main_content">
        <div class="header">
            <h2>Welcome to PROJO Management System</h2>       
        </div>
        <br>

        <script>
            function attribute()
            {
                var a = document.querySelector("button")
                a.setAttribute('val',)
            }
        </script>

{% for k,v in task.items%}
{%if v.8 == 'ongoing'%}
  <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <form name  = '{{v.0}}'method = "POST" action = "emp_dashboard">
                {% csrf_token %}
            <p class="card-text">
                <h5>Description:</h5>
                {{v.4}}
            </p>
            <Button value = "{{v.0}}" name = "submit" class="btn btn-outline-dark" action = "emp_dashboard" method = "POST">Done</Button>
        </form>
        </div>
    </div>
</div>
{%endif%}
{%endfor%}


        <!-- <div class="row mx-4">
            {% for j in data.items%}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {%for i in j%}
                                {{i.0}}
                            {%endfor%}</h5>
                        <p class="card-text">
                            {%for i in j%}
                                {{i.1}}
                            {%endfor%}</p>
                        <a href="Assigned_task, j.id" ><button id = "{val}">View More</button></a>
                    </div>
                </div>
            </div>
            <br>
            <br>
                {% endfor %}

            </div> -->


<!-- 
        <div class="row mx-4 my-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Assigned Project 03</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to
                        additional content.</p>
                        <a href="Assigned_task" class="btn btn-light">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Assigned Project 04</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to
                        additional content.</p>
                        <a href="Assigned_task" class="btn btn-light">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>L_Name</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                </tr>
                    {% for j in data.items%}
                    <tr>
                        {%for i in j%}
                        <td>
                        {{i.0}}
                        {{i.1}}
                        {{i.2}}
                     </td>
                    {%endfor%}
                    </tr>
                    {%endfor%}
                  
            </tbody>
          </table> -->
<!-- 
            {% for j in data.items%}
                        {%for i in j%}
                        <td>
                        {{i.0}}
                        </td>
                        <td>{{i.1}}</td>
                        <td>
                            {{i.2}}
                        </td>
                     </td>
                    {%endfor%}
                    </tr>
                    {%endfor%} -->

                    <form action="Assigned_task" style="margin-left: 20px; margin-top: 20px;">
                        <label for="cars">Choose Project:</label>
                        <select name="Project" id="cars">
                        {% for j in data.items%}
                        {%for i in j%}
                          <option name = "{{i.0}}">{{i.3}}</option>
                            {%endfor%}
                        {%endfor%}
                        </select>
                        <br><br>
                        <input type="submit" value="Submit">
                      </form>
</div>

</body>
</html>